
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

.introButton {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0px;
}

.lower {
    color: lightgray;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: 100%;
    height: auto;
}

.introHorizontal {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.mainImage {
    max-height: 300px;
}

.circularPortrait {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

ul li a {
    color: lightgray;
    text-decoration-line: none;
}

.header,
.intro,
.footer {
    background-color: #1F2937;
}

.intro {
    padding: 100px 0px;
}

.middle {
    text-align: center;
    padding: 0px 0px 100px 0px;
}

.infoHeader {
    font-size: 36px;
    font-weight: bolder;
}

.imagesAcross {
    display: flex;
    justify-content: center;
    gap: 30px;;
}

.imagesAcross img {
    max-width: 150px;
    border-radius: 10px;
    border: 2px solid blue;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}


.middle,
.call {
    background-color: white;
}

.quote {
    background-color: #E5E7EB;
}

.mainQuote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
    padding: 50px 50px 0px 50px;
}

.citation {
    text-align: end;
    padding: 0px 80px;
    font-weight: bold;
}

.call .box {
    padding 20px;
    background-color: #3882F6;
}